.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.contact-info svg {
  margin-right: 4px;
  margin-bottom: -2px;
}
