header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 600px;
  font-size: 13pt;
}

.navigation a {
  position: relative;
  padding: 0 12px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.navigation-home {
  position: absolute !important;
  left: 20px;
}
