header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
}

.navigation a {
  padding: 0 12px;
  text-decoration: none;
}

.navigation-home {
  position: absolute;
  left: 20px;
}
