@import url(//fonts.googleapis.com/css?family=Quicksand:400,700);

body {
  margin: 0;
  font-family: 'Quicksand', 'Work Sans', Verdana;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1e21;
  color: #f5f6f7;
  font-size: 14pt;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #ffffff;
}

h1 {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
